{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}ADD|UPDATE{% endblock %}
{% block main %}
    <div class="card border-primary m-auto mb-3 p-3" style="max-width: 40rem;">
        <form  method="post">
            {% csrf_token %}
            <div class="form-row ">
                <div class="form-group col-md-6 mb-0">
                    {{ form.prod_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.description|as_crispy_field }}
                </div>
                <!-- {{ form|crispy }} -->
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                    {{ form.buy_price|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ form.sell_price|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ form.stock|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                    {{ form.category|as_crispy_field }}
                </div>
            </div>
            <button class="btn btn-success float-right">Submit</button>
        </form>
    </div>
{% endblock %}