{% extends '_base.html' %}
{% block title %}Product List{% endblock %}
{% block main %}

<a class="btn btn-success btn-sm m-2 float-right" href="{% url 'products:create' %}">Product ++</a>
<a class="btn btn-success btn-sm m-2 float-right" href="{% url 'products:category' %}">Category ++</a>

<div class="card border-primary m-auto mt-3 p-2" style="max-width: 60rem;">
    <ul class="list-group list-group-flush mb-3">
        {% for product in product_list %}
        <li class="list-group-item">
            <a href="{% url 'products:detail' product.slug %}">{{ product.prod_name }}</a>
            <a href="{% url 'products:delete' product.slug %}" class="btn btn-danger btn-sm float-right">Delete</a>
            <a href="{% url 'products:update' product.slug %}" class="btn btn-info btn-sm float-right">Update</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}